body {
    background-color: rgba(128, 128, 128, 0.2);
}

h3 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 22px;
    font-weight: 700;
    margin-left: 7%;
    }

.list {
    list-style: none;
    padding: 0;
    margin: 10px 3%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}